html {
  font-size: 20px;
  background-color: #e8e8e8;
}

/* font styles */
.font-size-22px {
  font-size: 22px;
}

.font-size-26px {
  font-size: 26px;
}

.font-size-inherit {
  font-size: inherit;
}

.header-font {
  font-family: 'Montserrat', sans-serif;
}

.body-font {
  font-family: 'Nunito', sans-serif;
  font-weight: 600;
}

.center-text {
  text-align: center;
}

.font-weight-600 {
  font-weight: 600;
}

/* colors */
.background-black {
  background-color: #1a1a1a;
}

.background-white {
  background-color: #e8e8e8;
}

.background-gray {
  background-color: #bbbfca;
}

.background-rainbow {
  background: linear-gradient(0.25turn, #90ed90, #810381, #f00);
}

.background-grayed-out {
  background-color: rgba(0, 0, 0, 0.65);
}

.font-black {
  color: #1a1a1a;
}

.font-white {
  color: #e8e8e8;
}

.font-yellow {
  color: #ffbd9b;
}

.font-red {
  color: #f00;
}

.font-purple {
  color: #6441a4;
}

.font-gray {
  color: #bbbfca;
}

/* margin */
.margin-0 {
  margin: 0;
}

.margin-lr-5pct {
  margin-left: 5%;
  margin-right: 5%;
}

.margin-lr-1rem {
  margin-left: 1rem;
  margin-right: 1rem;
}

.margin-top-1rem {
  margin-top: 1rem;
}

.margin-bottom-1rem {
  margin-bottom: 1rem;
}

.margin-bottom-halfrem {
  margin-bottom: 0.5rem;
}

/* padding */
.padding-0 {
  padding: 0;
}

.padding-1rem {
  padding: 1rem;
}

.padding-halfrem {
  padding: 0.5rem;
}

.padding-quarter-rem {
  padding: 0.25rem;
}

.padding-3px {
  padding: 3px;
}

.padding-bottom-0 {
  padding-bottom: 0;
}

.padding-button {
  padding: 0.25rem 1rem;
}

.contain {
  contain: strict;
}

/* width/height */
.max-width-img {
  max-width: 120px;
}

.width-50pct {
  width: 50%;
}

.width-90pct {
  width: 90%;
}

.width-100pct {
  width: 100%;
}

.width-height {
  width: 260px;
  height: 260px;
}

.rainbow-wh {
  width: 266px;
  height: 266px;
}

.height-70px {
  height: 70px;
}

.height-100pct {
  height: 100%;
}

/* misc */
.liststyle-none {
  list-style: none;
}

.border-radius {
  border-radius: 10px;
}

.border-radius-180 {
  border-radius: 180px;
}

.hover:hover {
  cursor: pointer;
}

.bars-icon {
  font-size: 2rem;
}

.overflow-wrap {
  overflow-wrap: anywhere;
}

.text-overflow-scroll {
  overflow-y: auto;
}

.hyphens {
  hyphens: auto;
}

.gap {
  gap: 10px;
}

.active:active {
  color: #bbbfca;
}

.position-fixed {
  position: fixed;
}

.top-0 {
  top: 0;
}

.left-0 {
  left: 0;
}

.close {
  transition: color 0.3s ease-in-out;
}

.close:hover {
  color: #f00;
  cursor: pointer;
  transition: color 0.3s ease-in-out;
}

.text-decoration-none {
  text-decoration: none;
}

.z-index {
  z-index: 9999;
}

.block {
  display: block;
}

.overflow-hidden {
  overflow: hidden;
}

.border {
  border: 2px #1a1a1a solid;
}

.button:active {
  transform: translateY(3px);
}

.button:disabled {
  border: 2px #e8e8e8 solid;
  color: #e8e8e8;
}
